@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@keyframes bg-animation {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 300%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: hsl(210, 12%, 15%);
    --body-color: hsl(210, 16%, 12%);
    --container-color: hsl(210, 24%, 8%);
    
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
}

  @media screen and (min-width: 1024px) {
    :root {
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
    }
}



html, body{
    scroll-behavior: smooth;
    background-color: #000;
    overscroll-behavior: none;
    font-family: "Baloo Thambi 2", sans-serif;
    min-height: 100vh;
}




.header{
    margin: 2em;

}

.nav{
    display: flex;
    background: linear-gradient(
        90deg,#7e7e7e 0%,
        #e3e3e3 25%,
        #787878 50%,
        #e3e3e3 75%,
        #7e7e7e 100%
    );
    background-size: 400% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: space-between;
    align-items: center;
    animation: bg-animation 5s linear infinite alternate;
}

.nav span{
    font-size: 30px;
    font-weight:700;
    background-size: 130%;
    text-shadow: 0 0 20px #787878;
    font-family: "Baloo Thambi 2", sans-serif, monospace ;
    font-weight: 500;
    
}

.nav ul{
    cursor: pointer;
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: "Baloo Thambi 2";
    font-size: 25px;
    font-weight: bold;
    opacity: 0.75;
    background: linear-gradient(
        90deg,#7e7e7e 0%,
        #e3e3e3 25%,
        #787878 50%,
        #e3e3e3 75%,
        #7e7e7e 100%
    );
    background-size: 400% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-animation 5s linear infinite alternate;
}

.nav ul a{
    display: block;
    padding: 10px;   
}

.hero-container{
    display: flex;
    justify-content: center;
}

.hero{
  
    padding: 4em;
    opacity: 0.75;
    flex-direction: column;
    background: linear-gradient(
        90deg,#7e7e7e 0%,
        #e3e3e3 25%,
        #787878 50%,
        #e3e3e3 75%,
        #7e7e7e 100%
        );
    background-size: 400% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-animation 10s linear infinite alternate;
}

.hero h1{
    width: 100%;
    font-weight: 500;
    font-size: 11rem;
    letter-spacing: -0.05em;
    line-height: 0.7;
}

.hero h2{
    width: 100%;
    font-weight: 500;
    font-size: 7rem;
}

.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn span{
  gap: 4px;
}

button{
    background-color: #0138C8;
    border:  1px solid #0138C8;
    padding: 12px 20px;
    border-radius: 7px;
    transition: .3s;
    color: #fff;
    box-shadow: 0px 14px 56px -11px #0138C8;
    margin-bottom: 40px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 40px;
}

button:hover{
    border: 1px solid #0138C8;
    background-color: transparent;
    color: #fff;
}

button span{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: "Baloo Thambi 2", sans-serif;
}

.sobre-container{
  flex: 1 1 0;
}


.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
}
  
  .card__container, .card__article {
    display: grid;
    gap: 2rem;
}

  .card__container {
    padding-block: 4.5rem;
}

.card__article {
    --hue-1: 210;
    --hue-2: 238;
    position: relative;
    justify-items: center;
    color: var(--white-color);
    text-align: center;
    padding: 4rem 2rem 3rem;
    border: 4px solid transparent;
    background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
    border-radius: 1.2rem;
    overflow: hidden;
}

.card__shape-1 {
    position: relative;
    width: 148px;
    height: 148px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
    border-radius: 2rem;
    z-index: 2;
}

.card__shape-2 {
    width: 116px;
    height: 116px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
    border-radius: 1.5rem;
}

  .card__shape-3 {
    width: 76px;
    height: 76px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);
    border-radius: 1rem;
    display: grid;
    place-items: center;
}

  .card__shape-2, .card__shape-3 {
    position: absolute;
    inset: 0;
    margin: auto;
}

.card__green {
    --hue-1: 180;
    --hue-2: 50;
}

.card__orange{
  --hue-1: 10;
}

.card__icon {
    font-size: 4rem;
}


  .card__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.25rem;
    font-weight: bold;
}

  .card__description {
    margin-bottom: 5px;
}

.card__data{
  z-index: 3;
}

 
.card__scale-1 {
    width: 148px;
    height: 148px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
    border-radius: 2rem;
    top: 4rem;
  }
  .card__scale-2 {
    width: 116px;
    height: 116px;
    background: var(--container-color);
    border-radius: 1.5rem;
    top: 5rem;
  }
  .card__scale-1, .card__scale-2 {
    position: absolute;
    filter: blur(24px);
    transition: transform 0.3s ease-in;
  }
  .card__article:hover .card__scale-1 {
    transform: scale(6);
  }
  .card__article:hover .card__scale-2 {
    transform: scale(6);
    transition-delay: 0.1s;
  }

.contato-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid grey;
  margin-top: 100px;
  min-height: 100px;
}

.contato-container h2{
  display: flex;
  padding-left: 50px;
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.contato-child{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  margin: 0px auto;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  padding-top: 20px;
  margin: 0px auto;
}

.content-wrapper .contacts{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.content-wrapper .contacts article{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 50px;
}

.content-wrapper .contacts article span{
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.content-wrapper .contacts article a {
  width: fit-content;
    font-size: 1.2rem;
    color: white;  
}

.contato-container span{
  color: #e3e3e3;
}

.contacts-btn{
  background-color: #0138C8;
    border:  1px solid #0138C8;
    padding: 12px 20px;
    border-radius: 7px;
    transition: .3s;
    color: #fff;
    box-shadow: 0px 14px 56px -11px #0138C8;
    margin-bottom: 40px;
    margin-top: 20px;
    cursor: pointer;
}

.contacts-btn a{
  text-decoration: none;
  color: #fff;
}

.or{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
  
.social{
  display: grid;
  place-items: center;
}

.socials-container{
  display: flex;
  gap: 20px;
}

.socials-container a{
  background-color: #0138C8;
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow:  0px 14px 56px -11px #0138C8;
}

.socials-container a svg{
  height: 32px;
  fill: #fff;
}

.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: #0138C8;
  color: #e3e3e3;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms ease-in-out;
}

.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}


.socials-container a::after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #0138C8;
  transform: translateY(0) rotate(25deg);
  opacity: 0;
}

.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}

.bottom{
  margin-left: 170px;
  margin-right: 170px;

}

.footer{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  bottom: 0;
  margin-top: 70px;
  border-top: 1px solid grey;
     
}

.footer p{
  color: grey;
  font-size: 1rem;
}









  @media screen and (min-width: 576px) {
    .hero h1{
      font-size: 9rem;
      width: 100%;
      letter-spacing: -0.05;
    }
    .hero h2{
      font-size: 5rem;
      width: 100%;
      line-height: 1;
    }
    
    .card__container {
      grid-template-columns: 308px;
    }
}

  @media screen and (min-width: 768px) {
    .hero h1{
      font-size: 10rem;
      width: 100%;
      letter-spacing: -0.05;
    }
    .hero h2{
      font-size: 6rem;
      width: 100%;
      line-height: 1;
    }
    .card__container {
      grid-template-columns: repeat(2, 328px);

    }
    .sobre-container{
        height: 100vh;
    }

}
  

  
  @media screen and (min-width: 1120px) {
    
    .hero h1{
      font-size: 12rem;
      width: 100%;
      letter-spacing: -0.05em;
      line-height: 1;
    }
    .hero h2{
      font-size: 7rem;
      width: 100%;
      font-weight: 500;
      line-height: 1;
    }
    .sobre-container{
        height: 100vh;
    }
    .container {
      height: 100vh;
    }
    .card__container {
      grid-template-columns: repeat(3, 345px);
    }
    .card__article {
      padding: 4.5rem 2rem 3.5rem;
    }
    .contato-child{
      padding: 0px 20px;
      max-width: 1150px;
    }
    .content-wrapper{
      padding: 0px 20px;
    }
}